<%-include ../shared/header %>
<!-- <p>Dashboard works!</p> -->
<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-info btn-lg">
            To Do Tasks <span class="badge badge-light"><%=toDoTasks%></span>
        </a>
        <hr />
        <a href="#" class="btn btn-success btn-lg">
            Completed Tasks <span span class="badge badge-light"><%=completedTasks%></span>
        </a>
        <hr />
        <a href="#" class="btn btn-primary btn-lg">
            Total Tasks <span class="badge badge-light"><%=totalTasks%></span>
        </a>
    </div>

</div>
<%-include ../shared/footer %>